.about {
  font-family: 'Roboto Slab';
  color: #333333;
  font-size: 14px;
  font-weight: 300;

  .about-breadcrumbs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    max-width: 1024px;
    margin: 0 auto;

    .about-breadcrumbs {
      display: flex;
      align-items: center;
      gap: 20px;

      a > span {
        &:first-child,
        &:nth-child(2) {
          cursor: pointer;
          color: #333333;
        }
      }

      span {
        color: #999999;
      }
    }

    .about-share {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
  }

  .about-cap-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 20px;

    span {
      color: #e01e26;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
    }

    h5 {
      font-family: 'Roboto Slab';
      font-size: 18px;
      font-weight: 300;
      margin-top: 10px;
    }
  }

  .about-line {
    height: 1px;
    width: 100%;
    margin: 50px 0;
    background-color: #d6d6d6;
  }
}
