@use '../../../responsive.scss' as responsive;

.blog-hero {
  height: 400px;
  padding: 0px 20px;
  background: linear-gradient(
      to right,
      rgba(0, 105, 92, 0.8),
      rgba(0, 77, 64, 0.8)
    ),
    var(--background-image) no-repeat center/cover;
  display: flex;
  align-items: center;
  color: #ffffff;

  .blog-hero-content {
    max-width: 1024px;
    margin: 0 auto;

    .blog-hero-subtitle {
      font-family: 'Roboto Slab';
      font-size: 24px;
      font-weight: 100;
      margin-bottom: 20px;
    }

    .blog-hero-date {
      font-family: 'Roboto Slab';
      font-size: 24px;
      font-weight: 100;
    }

    .blog-hero-maintitle {
      font-family: 'Hind', sans-serif;
      font-size: 64px;
      font-weight: 600;
      letter-spacing: -1.8px;
      line-height: 1;
      margin-bottom: 20px;

      @include responsive.md {
        font-size: 40px;
        line-height: 1.2;
      }
    }
  }
}
